<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron"></div>
    <div class="container">
      <form action="/create" method="post" class="form-group">
        <label for="">First Name</label>
        <input type="text" name="firstname" class="form-control" value="" required>
        <br>
        <label for="">Middle Name</label>
        <input type="text" name="middlename" class="form-control" value="" required>
        <br>
        <label for="">Last Name</label>
        <input type="text" name="lastname" class="form-control" value="" required>
        <br>
        <label for="">Birthdate</label>
        <input type="date" name="birthdate" class="form-control" value="" required>
        <br>
        <label for="">Gender</label>
        <input type="text" name="gender" class="form-control" value="" required>
        <br>
        <label for="">Civil Status</label>
        <input type="text" name="civilstatus" class="form-control" value="" required>
        <br>
        <label for="">Country</label>
        <input type="text" name="country" class="form-control" value="" required>
        <br>
        <label for="">Region</label>
        <input type="text" name="region" class="form-control" value="" required>
        <br>
        <label for="">Province</label>
        <input type="text" name="province" class="form-control" value="" required>
        <br>
        <label for="">City</label>
        <input type="text" name="city" class="form-control" value="" required>
        <br>
        <label for="">Barangay</label>
        <input type="text" name="barangay" class="form-control" value="" required>
        <br>
        <label for="">Zip Code</label>
        <input type="text" name="zipcode" class="form-control" value="" required>
        <br>
        <label for="">Address</label>
        <input type="text" name="address" class="form-control" value="" required>
        <br>
        <label for="">Hobbies</label>
        <input type="text" name="hobbies" class="form-control" value="" required>
        <br>
        <a href="/home" class="btn-link">Go back</a>
        <input class="btn btn-outline-success btn-lg" type="submit" value="submit">
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>